
html { scroll-behavior: smooth; }
.card-img-top { height: 200px; object-fit: cover; }
.whatsapp-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000;
    transition: 0.3s;
}
.whatsapp-btn:hover { background-color: #128c7e; transform: scale(1.1); color: white; }


/* Estilo para las fotos de los médicos */
#telemedicina .card-img-top {
    border: 4px solid #f8d7da;
}
#telemedicina .card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}


/* Efecto para logos de convenios */
.opacity-75 img {
    transition: all 0.3s ease;
}
.opacity-75 img:hover {
    transform: scale(1.1);
}

